*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.pos-absolute{
    text-align: right;
    width: 25%;
    position: absolute;
    bottom: 1%;
    right: 3%;
    color: white;
}