*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#img-container{
    height: 100vh;
    overflow: hidden;
}

#big-img-container{
    position: relative;
}

#little-img-container{
    overflow: hidden;
    position: relative;
}

#little-img-container > img{
    width: 100%;
    height: calc(100vh / 5);
    filter: brightness(0.3);
    transition: brightness .3s;
}

#little-img-container > img.selected{
    filter: brightness(1);
}


#big-img-container > img.active{
    opacity: 1;
}


.big-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom:0;
    transition: opacity .3s;
}


.text-absolute{
    text-align: right;
    width: 25%;
    position: absolute;
    bottom: 1%;
    right: 3%;
    color: white;
    opacity: 0;
}

.shown{
    opacity: 1;
}

.arrow-absolute{
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    height: 100%;
    z-index: 99
}